node-red-data/flows.json
[{"id":"f87e838ad683d7b3","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"2444a34f3410619a","type":"credentials","z":"f87e838ad683d7b3","name":"","props":[{"value":"password","type":"msg"}],"x":370,"y":120,"wires":[["955f05b8b26fbc42"]]},{"id":"9e6c95a9302ca672","type":"inject","z":"f87e838ad683d7b3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":120,"wires":[["2444a34f3410619a"]]},{"id":"955f05b8b26fbc42","type":"debug","z":"f87e838ad683d7b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"password","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":120,"wires":[]}]